.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(garra2.jpg.png);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images.png);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(Naruto.png);
}
